
body {
  background-image: url(./darius-anton-coffee-01.gif);
  background-size: auto;
}

header {
  text-align: center;
  margin: 200px auto auto auto;
  font-size: 50px;
  background-color: beige;
  width: 800px;
  color: rgb(61, 61, 9);;
  transform: skew(-20deg);
  outline: solid rgb(61, 61,9);

}

#headerText {
  transform: skew(20deg);
}

#jobs {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1300px;
  height: 650px;
}

#celtic, #starbies {
  justify-content: center;
  width: 500px;
  height: 700px;
  border-radius: 10%;
  text-align: center;
  padding-top: 60px;
}

#celtic {
  background-color: beige;
  font-family: 'Courier New', Courier, monospace;
}

#starbies {
  background-color: rgb(61, 61,9);
  font-family: Arial, Helvetica, sans-serif;
}
